/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body {
	background-image: linear-gradient(red, snow);
}


/* style villagaleri */

.isivillagaleri {
  width: 600px;    
	margin-top: 20px;
	padding: 10px;
  margin-left: 140px;
  border: 5px solid rgb(115, 115, 115);
	float: left;
	z-index: 9999;
	line-height: 0;
	overflow: auto;
	background-image: linear-gradient(red, snow);
}

.extra{
	margin-bottom: 10px;
}

.mini {
	padding-left: 10px;
}

.thumb {
	width: 190px;
	float: left;
	border: 2px solid whitesmoke;
	/* box-sizing: border-box; */
}

.thumb:hover {
	opacity: 0.7;
	cursor: pointer;
}

@keyframes gambarFadeIn {
    to {
        opacity: 1;
    }
}

.gambarFade {
    opacity: 0;
    animation: gambarFadeIn 0.5s forwards;
}

.gambarAktif {
    opacity: 0.7;
}


/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}