/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}

/* style */

body {
    background-image: linear-gradient(red, snow);
}

.container {
    background-color: snow;
    width: 900px;
    height:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}

header {
    display: flex;
    width: 880px;
    height: 80px;
    background-color: red;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Caladea, arial;
    font-size: 30px;
    font-weight: 700;
}

header {
    color: snow;
}

.judul {
    display: flex;
    width: 800px;
    height: 60px;
    background-color: red;
    align-items: center;
    /* border: solid 3px; */
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Caladea, arial;
    font-size: 20px;
    font-weight: 700;
    color: snow
}

.judul img {
    margin-right: 20px;
}

.tabelId {
    /* border: solid 3px; */
    border-radius: 10px;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: Carlito, arial;
    margin-bottom: 10px;
}

.tabelId .kolomA {
    padding-left: 30px;
    padding-right: 10px;
}

.tabelId .kolomA .tebal {
    font-weight: 700;
}

.tabelId .kolomA .subList {
    margin-left: 15px;
}

.tabelSkill {
    /* border: solid 3px; */
    border-radius: 10px;
    width: 800px;
    /* margin: auto; */
    padding: 10px;
    box-sizing: border-box;
    font-family: Carlito, arial;
    margin-left: 50px;
    margin-bottom: 10px;
}

.tabelSkill .tabelPic {
    text-align: center;
    width: 150px;
}

.tabelSkill .kolomA {
    padding-left: 30px;
    padding-right: 10px;
}

.tabelSkill .kolomA .tebal {
    font-weight: 700;
}

.tabelSkill .kolomA .subList {
    margin-left: 15px;
    list-style: none;
}

.tabelData {
    /* border: solid 3px; */
    border-radius: 10px;
    width: 800px;
    /* margin: auto; */
    padding: 10px;
    box-sizing: border-box;
    font-family: Carlito, arial;
    font-weight: 700;
    margin-left: 50px;
    margin-bottom: 10px;
}

.tabelData .dataKiri {
    width: 150px;
}

#supertext {
    vertical-align: super;
    font-size: small;
  }

  .tombol {
    background-image: linear-gradient(to right, red, snow);
    border: none;
    height: 36px;
    width: 120px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    margin-left: 30px;
    transition: box-shadow 0.15s;
  }
  
  .tombol a {
    text-decoration: none;
    color: darkslategrey;
    text-align: center;
  }
  
  .tombol:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }


/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* modal */

.modalContainer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.5);
}
  
.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 460px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    font-family: carlito;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

select{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name{
    color: greenyellow;
}

.modal-text{
    height: 80px;
    line-height: 23px;
    margin-bottom: 0;
}

.thank-gif{
    width: 95%;
    margin: 0 auto;
}

.thank-gif img{
    margin-top: 50px;
    box-shadow: 1px 1px 3px #999;
    border-radius: 5px;
}